body {
  overflow: hidden;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#logo {
  width: 500px;
  height: 500px;
  animation: fadeOutWithRotation 2.5s ease-in-out forwards;
}

@keyframes fadeOutWithRotation {
  0% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
  60% {
    opacity: 1;
    transform: rotate(180deg) scale(1);
  }
  100% {
    opacity: 0;
    transform: rotate(180deg) scale(1.5);
  }
}
#content {
  height: 93vh;
  padding: 24px;
}
#content h1 {
  text-transform: uppercase;
  font-size: 260px;
  transform: scaleY(1.3);
  color: var(--color-primary);
  line-height: 1;
  z-index: 1;
}
#content #first-row {
  height: 35%;
  padding-bottom: 24px;
}
#content #second-row {
  height: 65%;
}
#content #second-row .col:last-of-type {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#content #second-row .col:first-of-type {
  flex: 2;
}
#content #second-row {
  gap: 24px;
}
#content #first-row,
#content #second-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#content #first-row .col,
#content #second-row .col {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex: 1;
  gap: 24px;
}
#content #first-row .col a,
#content #second-row .col a {
  display: flex;
  flex: 1;
  border-radius: 24px;
  background-color: var(--color-primary);
  position: relative;
  height: 100%;
  width: 100%;
}
#content #first-row .col a .img_div,
#content #second-row .col a .img_div {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-primary);
  padding: 4px;
  border-radius: 16px;
  color: var(--color-secondary);
  overflow: hidden;
}
#content #first-row .col a .img_div:hover,
#content #second-row .col a .img_div:hover {
  cursor: pointer;
}
#content #first-row .col a .img_div:hover p,
#content #second-row .col a .img_div:hover p {
  transition: height 0.6s ease;
  height: 0px;
}
#content #first-row .col a .img_div p,
#content #second-row .col a .img_div p {
  align-content: end;
  height: 40px;
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 36px;
  transition: height 0.6s ease;
}
#content #first-row .col a .img_div .img_container,
#content #second-row .col a .img_div .img_container {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  border-radius: 16px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#content #first-row .col a .img_div .img_container:hover .illustration,
#content #second-row .col a .img_div .img_container:hover .illustration {
  opacity: 0;
  transition: opacity 4s ease-out;
}
#content #first-row .col a .img_div .img_container:hover .photo,
#content #second-row .col a .img_div .img_container:hover .photo {
  opacity: 1;
  transition: opacity 0.6s ease-in;
}
#content #first-row .col a .img_div .img_container .illustration,
#content #second-row .col a .img_div .img_container .illustration {
  opacity: 1;
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  transition: opacity 0.6s ease-in;
}
#content #first-row .col a .img_div .img_container .photo,
#content #second-row .col a .img_div .img_container .photo {
  opacity: 0;
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  transition: opacity 0.6s ease-out;
}/*# sourceMappingURL=home.css.map */