#back {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  padding: 20px;
  border: 1px solid var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
#back:hover {
  cursor: pointer;
  background-color: rgba(237, 214, 167, 0.1019607843);
}

input {
  color: var(--color-secondary);
}

button.default {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  border: none;
  padding: 6px 24px;
  border-radius: 6px;
}
button.default:hover {
  cursor: pointer;
  background-color: var(--color-tertiary-dark);
  font-style: italic;
}

#seasonSelect {
  width: 200px;
}

select {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-primary);
  border-radius: 6px;
  padding: 6px 20px;
  cursor: pointer;
}
select:hover {
  background-color: rgba(237, 214, 167, 0.1019607843);
}
select option {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 0px;
}
select option:hover {
  background-color: cyan;
}
select option:focus {
  background-color: cyan;
}

#leagueButtons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 24px;
  padding: 60px;
}
#leagueButtons input[type=radio] {
  display: none;
}
#leagueButtons .active {
  outline: none;
  background-color: var(--color-primary-bis);
  color: var(--color-secondary);
  border: none;
  box-shadow: 0px 0px 3px 0, 0, 0, 0.9;
}
#leagueButtons label {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 6px 24px;
  border: 1px solid var(--color-primary);
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
}
#leagueButtons label:hover {
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

#heading {
  display: flex;
  flex-direction: row;
  padding: 0 160px 8px 160px;
}
#heading span {
  font-weight: 100;
  flex: 1;
  text-align: center;
}
#heading span:nth-child(2) {
  text-align: left;
  flex: 3;
}
#heading span:nth-child(4), #heading span:nth-child(8) {
  flex: 2;
}

#teamList {
  display: flex;
  flex-direction: column;
  padding: 0 120px;
}
#teamList .team {
  border: 1px solid var(--color-primary);
  border-radius: 6px;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#teamList .team:hover {
  cursor: pointer;
  background-color: rgba(237, 214, 167, 0.1019607843);
}
#teamList .team span {
  text-align: center;
}
#teamList .team .filler {
  flex: 2;
}
#teamList .team .team-name {
  flex: 3;
}
#teamList .team .team-rank {
  flex: 1;
}
#teamList .team .team-points {
  flex: 1;
}
#teamList .team .team-points .light {
  font-size: 18px;
  font-weight: 100;
}
#teamList .team .team-victories {
  flex: 1;
}
#teamList .team .team-defeats {
  flex: 1;
}
#teamList .team .team-draws {
  flex: 1;
}
#teamList .team .team-score {
  flex: 1;
}
#teamList .team .team-donnees {
  flex: 1;
}
#teamList .team .team-recues {
  flex: 1;
}
#teamList .playerList {
  list-style-type: none;
  margin-bottom: 12px;
  margin-left: 50px;
}
#teamList .playerList .player {
  padding: 8px 32px;
}
#teamList .playerList .player:not(:last-child) {
  border-bottom: 1px solid var(--color-primary);
}
#teamList .playerList .player .light {
  font-weight: 100;
}
#teamList .playerList .player:last-of-type {
  border-radius: 0 0 6px 6px;
}

#leagueButtons label {
  display: block;
  margin: 5px 0;
}/*# sourceMappingURL=teams_&_players.css.map */